name: CI/CD Pipeline - Diet Analysis

on:
  push:
    branches:
      - main

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t diet-analysis .

    - name: Run Docker container
      run: docker run diet-analysis
